{% extends "base.html" %}


{% block title %}
    Home
{% endblock %}

{% block body %}

<div class="content">

    <h1>The Task Master</h1>


    <form action="/" method="POST">
        <input type="text" placeholder="Input task" name="task" id="task" autocomplete="off">
        <input class="btn-add try btn-dark" type="submit" value="Add">
    </form>

    <br>
    <br>
    <br>

    {% if tasks == [] %}
        <h3>No task to show</h3>
    {% endif %}


    {% if tasks != [] %}

    <table class="table ">
        <thead>
            <tr>
                <!-- <th>id</th> -->
                <th colspan="6">Task</th>
                <!-- <th style="max-width: 30px;">Added</th> -->
            </tr>    
        </thead>

        <tbody border-width="0 0px">
        
            {% for task in tasks %}

                {% if task.id == Null %}
                    <tr>
                        <td colspan="6"> No task available.</td>
                    </tr>
                {% endif %}

                    
                <tr>
                    <!-- <td>{{task.id}}</td> -->
                    <td class="task" colspan="4" width="80%"> {{task.content}} </td>
                    <!-- <td style="max-width: 30px;">{{task.date_created.date()}}</td> -->
                    <td  class="task">
                        <a class="btn text-primary" href="/update/{{task.id}}"><i class="fas fa-edit"></i></a>
                    </td>
                    <td>
                        <a class="btn text-danger" href="/delete/{{task.id}}"><i class="fas fa-minus-circle"></i></a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}

</div>

{% endblock %}
